* {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Kanit', sans-serif;

}

.contenido-miembros {
    width: 100%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
    background-color: #2d2d2e;


}
.contenido-miembros h1{
    text-align:center;
    padding-bottom: 5%;
    text-shadow:rgb(83 217 209) 0px 0px 10px;
    font-size: 60px;
}

.card-miembros {

    width: 40%;
    background-color: #fff;
    border-radius:  50px 10px 10px 50px;
    box-shadow: 0 0 10px rgba(247, 190, 190, 0.5);;
    display: flex;
    margin-bottom: 5%;
    background-color: #695a59;
    transition: 0.5s;
    justify-content: space-between;
}

.card-miembros__img {
    display: flex;
    width: 40%;
    height: 100%;
    padding-right: 1%;
    justify-content: center;
    align-items: center;
    background-color: #d96053;
    border-radius: 50px 50px 0px 50px;

}
.link-container a{
    font-size: 2.5em;
    text-align: center;
  
  }

.card-miembros__img>img {
    width: 60%;
    height: 65%;
    border-radius: 120px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card-miembros__img>img:hover {
    transform: scale(1.3);
}

.card-miembros__info {
    width: 60%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;

}
.card-miembros__info__nombre {
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 5%;
    padding-bottom: 5%;
}
.card-miembros__info__cargo {
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 5%;
}

.card-miembros__info>h3,
p {
    width: 100%;
}

.card-miembros__info--cargo,
.card-miembros__info--descripcion {
    font-family: 'Kanit', sans-serif;
    width: 100%;
    text-align: center;
}
.card-miembros__info--descripcion {
    font-family: 'Kanit', sans-serif;
    width: 100%;
    font-size: 13px;
}
.contenido-iniciatec {
    color: white;
    background-color: #2d2d2e;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 5%;
    padding-bottom: 5%;
    justify-content: center;


}

.contenido-iniciatec>h3,
p,
h4 {
    width: 80%;
    text-align: center;

}

.contenido-iniciatec>h3 {
    margin-bottom: 3%;
    font-size: 50px;
    text-shadow: #d96053 0px 0px 10px;
}

.contenido-iniciatec>h4{
    margin-top:3%;
    margin-bottom: 2%;
    font-size: 30px;
    text-shadow: #d96053 0px 0px 10px;
}
.contenido-iniciatec p {
    margin-bottom: 3%;
    font-size: 15px;
    text-shadow: #d96053 0px 0px 10px;
    width: 65%;
}

.card-iniciatec {
    padding-top: 2%;
    margin-top: 3%;
    width: 28%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

    text-align: center;
    align-items: center;
    border: solid 1px #d96053;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(247, 190, 190, 0.5);

}
.card-iniciatec img {
    width: 50%;
    height: 50%;
    border-radius: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card-iniciatec__titulo {
    display: flex;
    width: 50%;
    height: 30%;
    text-align: center;
    justify-content: center;
}

.contenido-form {
    width: 100%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
    align-items: center;
    text-align: center;
    color: white;
    background-color: #2d2d2e;
 

}
.contenido-form h5{
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin-bottom: 2%;
    text-shadow: #d96053 0px 0px 10px;
}

form {
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 5%;
    padding-bottom: 5%;
   /* border: solid rgb(83 217 209) 1px;*/
    border-radius:10px;


}

form>h3 {
    width: 80%;
    text-align: center;
    margin-bottom: 5%;
}

input {
    color: white;
    background-color: #2d2d2e;
    border: solid rgb(83 217 209) 1px;
    border-radius:10px;
    padding:1%;
}
.iniciatec{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
textarea {
    color: white;
    background-color: #2d2d2e;
    border: solid rgb(83 217 209) 1px;
    border-radius:10px;
    padding:1%;
}
select {
    color: white;
    background-color: #2d2d2e;
    border: solid rgb(83 217 209) 1px;
    border-radius:10px;
}
label{
    display: flex;
}
input[type="submit"] {
    width: 30%;
    height: 30%;
    color: white;
    background-color: #2d2d2e;
    border: solid rgb(83 217 209) 1px;
    border-radius:10px;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 20px;
    font-weight: bold;
    transition: 0.5s;
}
input[type="submit"]:hover {
    background-color: rgb(83 217 209);
    transform: scale(1.1);
    color: #d96053;
}
option{
    color: white;
    background-color: #2d2d2e;
}
option:hover{
    background-color: rgb(83 217 209);
    color: #d96053;
}
.footer-text {

    width: 100%;
}
